log.txt

identity, square, square root of the absolute value, natural logarithm of the absolute value, 
base 10 logarithm of the absolute value, exponential, reciprocal, sine, cosine, tangent, 
arcus sine of the hyperbolic tangent, arcus cosine of the hyperbolic tangent, arcus tangent, 
hyperbolic tangent, logistic sigmoid, 2^x, x + x^2, x + x^2 + x^3, x^3, x^4, x^5, x^6, 
x^7, x^8, x^9, x^10